* + * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.mobile_menu{
	display: none;
position: absolute;
left: 50%;
margin-left: -100px;
top: 10px;

button{
	background: rgb(90,224,162);
	background: linear-gradient(45deg, rgba(90,224,162,1) 0%, rgba(66,137,104,1) 100%);
	color: white;
	border: none;
	font-size: 18px;
	border-radius: 25px;
	height: 60px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 10px 10px 40px 0px rgba(66,137,104,0.4);

	i{
		margin-right: 10px;
		color: white;
	}
}

}
i {
	color: #5ae0a2;
}
.container {
	width: 100%;
	height: 100vh;
	background-color: #5ae0a2;
	display: flex;
	color: #5ae0a2;
	.menu {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
		background-color: white;
		margin: 40px 20px 40px 40px;
		padding: 40px;
		text-align: center;
		list-style: none;
		text-decoration: none;
		border-radius: 25px;
		min-width: 400px;
		overflow-y: auto;
		scrollbar-width: none;
		.profile {
			display: flex;
			flex-direction: column;
			width: 100%;
			.icons {
				display: flex;
				justify-content: space-between;
				font-size: 1.5rem;
			}
			.profile_picture {
				margin: 40px 0;
				img {
					box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1);
					border: 2px solid white;
					height: 140px;
					width: 140px;
					border-radius: 50%;
				}
			}
			.name {
				font-family: p22-mackinac-pro, serif;
				font-weight: 800;
				font-style: normal;
				font-size: 20px;
				margin-bottom: 40px;
			}
			.line {
				display: block;
				width: 100%;
				border: 1px solid #5ae0a2;
				margin-bottom: 40px;
			}
		}
		.menu_list {
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			display: flex;
			flex-direction: column;

			.check_payments {
				width: 100%;
				a {
					width: 100%;
				}
			}
			.line {
				display: block;
				width: 100%;
				border: 1px solid #5ae0a2;
				margin-bottom: 40px;
			}
			.list_item {
				display: flex;
				margin-bottom: 40px;
				font-family: 'Open Sans', sans-serif;
				align-items: center;
				a {
					text-decoration: none;
					color: #5ae0a2;
				}
				input {
					width: 100%;
					border: 2px solid #5ae0a2;
					border-radius: 25px;
					height: 40px;
					font-size: 18px;
					font-family: 'Open Sans', sans-serif;
					outline: none;
					text-align: center;
					color: #428968;
				}
				input::placeholder {
					color: #5ae0a2;
				}
				button {
					background-color: #5ae0a2;
					color: white;
					border: none;
					font-size: 18px;
					border-radius: 25px;
					height: 60px;
					width: 100%;
				}
				p {
					font-size: 18px;
					margin-left: 20px;
				}
			}
		}
	}
	.menu::-webkit-scrollbar {
		display: none;
	}
	.content::-webkit-scrollbar {
		display: none;
	}
	.my_library::-webkit-scrollbar{
		display: none;
	}

	.content {
		display: flex;
		flex-direction: column;
		flex: 6;
		background-color: white;
		margin: 40px 40px 40px 20px;
		padding: 40px;
		border-radius: 25px;
		overflow-y: scroll;
		.banner {
			background-color: #428968;
			width: 100%;
			min-height: 560px;
			border-radius: 25px;
			background-image: url(./images/banner_2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			img{
				
			}
		}
		.my_books {
			display: flex;
			flex-direction: column;
			height: 100%;
			.top_bar {
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				// height: 100%;
				.header {
					font-family: p22-mackinac-pro, serif;
					font-weight: 800;
					font-style: normal;
					font-size: 30px;
					margin-bottom: 40px;
				}
				button {
					background-color: #5ae0a2;
					color: white;
					border: none;
					font-size: 18px;
					border-radius: 25px;
					height: 50px;
					width: 180px;
					a {
						text-decoration: none;
						color: white;
					}

				}
			}
			.my_library {
				display: grid;
				grid-gap: 40px;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
				overflow: scroll;
				grid-auto-rows: revert;
				height: 100%;
				.book {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					background-color: #5ae0a2;
					height: 400px;
					min-height: 400px;
					border-radius: 25px;
					padding: 20px 20px 0px;

					img {
						display: block;
						border-radius: 25px;
						margin-bottom: 20px;
						box-shadow: 10px 10px 40px 0px rgba(66,137,104,0.4);
					}
					p{
						font-size: 18px;
						font-family: 'Open Sans', sans-serif;
						// color: #428968;
						color: white;
					}
				}
				// .book:not(:last-child) {
				// margin-right: 40px;
				// }
			}
		}
	}
}


@media (max-width: 1140px) {
	.mobile_menu{
		display: block;
	}
.container{

	.menu{
		display: NONE;
		margin: 40px;
	&.active{
		display: block;
	}
	}

	.content{
		margin: 40px;
	}
	.content{
		&.active{
			display: none;
		}
	}
}

}