* + * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
i {
	color: #5ae0a2;
}
.container {
	width: 100%;
	height: 100vh;
	background-color: #5ae0a2;
	display: flex;
	color: #5ae0a2;
	.menu {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
		background-color: white;
		margin: 40px 20px 40px 40px;
		padding: 40px;
		text-align: center;
		list-style: none;
		text-decoration: none;
		border-radius: 25px;
		min-width: 300px;
		.profile {
			display: flex;
			flex-direction: column;
			width: 100%;
			.icons {
				display: flex;
				justify-content: space-between;
			}
			.profile_picture {
				margin: 40px 0;
				img {
					height: 140px;
					width: 140px;
					border-radius: 50%;
				}
			}
			.name {
				font-family: p22-mackinac-pro, serif;
				font-weight: 800;
				font-style: normal;
				font-size: 20px;
				margin-bottom: 40px;
			}
			.line {
				display: block;
				width: 100%;
				border: 1px solid #5ae0a2;
				margin-bottom: 40px;
			}
		}
		.menu_list {
			width: 100%;
			font-family: 'Open Sans', sans-serif;
			display: flex;
			flex-direction: column;
			.check_payments {
				width: 100%;
				a {
					width: 100%;
				}
			}
			.line {
				display: block;
				width: 100%;
				border: 1px solid #5ae0a2;
				margin-bottom: 40px;
			}
			// .book_list,
			// .my_books,
			// .history,
			// .settings,
			// .logout {
			// 	// padding-left: 20px;
			// }
			.list_item {
				display: flex;
				margin-bottom: 40px;
				font-family: 'Open Sans', sans-serif;
				align-items: center;
				a {
					text-decoration: none;
					color: #5ae0a2;
				}
				input {
					width: 100%;
					border: 2px solid #5ae0a2;
					border-radius: 25px;
					height: 40px;
					font-size: 18px;
					font-family: 'Open Sans', sans-serif;
					outline: none;
					text-align: center;
					color: #428968;
				}
				input::placeholder {
					color: #5ae0a2;
				}
				button {
					background-color: #5ae0a2;
					color: white;
					border: none;
					font-size: 18px;
					border-radius: 25px;
					height: 60px;
					width: 100%;
				}
				p {
					font-size: 18px;
					margin-left: 20px;
				}
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		flex: 6;
		background-color: white;
		margin: 40px 40px 40px 20px;
		padding: 40px;
		border-radius: 25px;
		.banner {
			background-color: #428968;
			width: 100%;
			height: 1200px;
			border-radius: 25px;
		}
		.my_books {
			display: flex;
			flex-direction: column;
			height: 100%;
			.top_bar {
				margin-top: 40px;
				display: flex;
				justify-content: space-between;
				// height: 100%;
				.header {
					font-family: p22-mackinac-pro, serif;
					font-weight: 800;
					font-style: normal;
					font-size: 30px;
					margin-bottom: 40px;
				}
				button {
					background-color: #5ae0a2;
					color: white;
					border: none;
					font-size: 18px;
					border-radius: 25px;
					height: 50px;
					width: 180px;
					a {
						text-decoration: none;
						color: white;
					}
				}
			}
			.my_library {
				display: grid;
				grid-gap: 40px;
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
				overflow: hidden;
				grid-auto-rows: 100%;
				height: 100%;
				.book {
					display: flex;
					justify-content: center;
					flex-direction: row;
					background-color: #428968;
					// width: 50%;
					height: 100%;
					border-radius: 25px;
					padding: 30px 30px 60px;
					img { 
						height: 100%;
						border-radius: 25px;
					}
				}
				// .book:not(:last-child) {
				// margin-right: 40px;
				// }
			}
		}
	}
}
