* + * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

i {
  color: #5ae0a2;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #5ae0a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #5ae0a2;
}

.container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 40px 20px 40px 40px;
  padding: 40px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  border-radius: 25px;
  min-width: 300px;
}

.container .menu .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.container .menu .profile .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .menu .profile .profile_picture {
  margin: 40px 0;
}

.container .menu .profile .profile_picture img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.container .menu .profile .name {
  font-family: p22-mackinac-pro, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 40px;
}

.container .menu .profile .line {
  display: block;
  width: 100%;
  border: 1px solid #5ae0a2;
  margin-bottom: 40px;
}

.container .menu .menu_list {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .menu .menu_list .check_payments {
  width: 100%;
}

.container .menu .menu_list .check_payments a {
  width: 100%;
}

.container .menu .menu_list .line {
  display: block;
  width: 100%;
  border: 1px solid #5ae0a2;
  margin-bottom: 40px;
}

.container .menu .menu_list .list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .menu .menu_list .list_item a {
  text-decoration: none;
  color: #5ae0a2;
}

.container .menu .menu_list .list_item input {
  width: 100%;
  border: 2px solid #5ae0a2;
  border-radius: 25px;
  height: 40px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  text-align: center;
  color: #428968;
}

.container .menu .menu_list .list_item input::-webkit-input-placeholder {
  color: #5ae0a2;
}

.container .menu .menu_list .list_item input:-ms-input-placeholder {
  color: #5ae0a2;
}

.container .menu .menu_list .list_item input::-ms-input-placeholder {
  color: #5ae0a2;
}

.container .menu .menu_list .list_item input::placeholder {
  color: #5ae0a2;
}

.container .menu .menu_list .list_item button {
  background-color: #5ae0a2;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  height: 60px;
  width: 100%;
}

.container .menu .menu_list .list_item p {
  font-size: 18px;
  margin-left: 20px;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: white;
  margin: 40px 40px 40px 20px;
  padding: 40px;
  border-radius: 25px;
}

.container .content .banner {
  background-color: #428968;
  width: 100%;
  height: 1200px;
  border-radius: 25px;
}

.container .content .my_books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container .content .my_books .top_bar {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content .my_books .top_bar .header {
  font-family: p22-mackinac-pro, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 40px;
}

.container .content .my_books .top_bar button {
  background-color: #5ae0a2;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  height: 50px;
  width: 180px;
}

.container .content .my_books .top_bar button a {
  text-decoration: none;
  color: white;
}

.container .content .my_books .my_library {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow: hidden;
  grid-auto-rows: 100%;
  height: 100%;
}

.container .content .my_books .my_library .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #428968;
  height: 100%;
  border-radius: 25px;
  padding: 30px 30px 60px;
}

.container .content .my_books .my_library .book img {
  height: 100%;
  border-radius: 25px;
}
/*# sourceMappingURL=style.css.map */